<h1>Edit this Job</h1>
<!--form_for( @job ,:url => {:action => :update, :controller => :jobs} )-->
<%= form_for ( @one_job ) do |f| %>
	Title: <%= f.text_field :title %>
	Information: <%= f.text_field :description %>
	Salary: <%= f.text_field :salary %>
	Position is open: <%= f.check_box :is_open %>
<%= f.submit "Update this position", method: :patch, update_job_path(@company.id, @one_job) %>
<% end %>