<!-- user index view, user has not logged in, can now view information about companies, etc -->
	<div class="col-sm-4"></div>
	<div class="col-sm-1">
<div class="title">C*Splat
</div>
<div>a place for employers and candidates to share information</div>
<% if current_user %>
<div><%= link_to "Add your company", new_company_path %></div>
<% else %>
<div><%= link_to "Not Registered? Register Here", users_new_path %></div>
</br>
<% end %>
<div>List of jobs </div>
<%# @jobs.each do |j| %>
	<%#= j.name %>
<%# end %>
</br>
<div>List of companies </div>
<div>

	<% @crunchbase['data']['items'].each do |x| %>
	<%= x['name'] %><br>
	<% end %>


</div>
<div>
	<% @companies.each do |c| %>
	<% if current_user %>
	<%= link_to "#{c.name}", company_path(c) %>
 	<% else %>
	<%= c.name %>
	<% end %>
	<br>
<% end %>
</div>
<%#= @companies.name %>
<div>List of Users </div>
<div>
<% @users.each do |c| %>
	<%= c.username %><br>
<% end %>
</div>
</div>