<!-- user has logged in, can now view information about companies, their resume, etc -->

<% if current_user %>
<div><%= link_to "Add a company", new_company_path %></div>
<br>
<% end %>


<div>List of jobs </div>
<div class="listscroll">
<% @jobs.each do |j| %>
	<%= link_to "#{j.title}", job_path(j) %>
<% end %>
</div>
</br>
<div>List of companies </div>
<div class="listscroll">
	<% @companies.each do |c| %>
	<% if current_user %>
	<%= link_to "#{c.name}", company_path(c) %>
 	<% else %>
	<%= c.name %>
	<% end %>
	<br>
<% end %>
</div>
<br>
<div>List of Users </div>
	<div class="listscroll">
		<% @users.each do |c| %>
			<%= c.username %>
		<% end %>
	</div>
</div>
