<h2> Add your company to the list </h2>
<%= form_for @company do |c| %>
	Name: <%= c.text_field :name %>
	Information: <%= c.text_field :about %>
	Address: <%= c.text_field :address %>
	Positions: <%= c.text_field :positions %>
<%= c.submit "Add your Company" %>
<% end %>