<!DOCTYPE html>
<html>
<head>
  <title>Jobsplat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	Hello, <%= current_user.username %>
	<%= button_to "Log Out", destroy_session_path, method: :delete, class: 'logbutton' %>
	<!-- links always do GET, buttons always do POST -->
<% else %>
<%= link_to "Login", new_session_path %>
<% end %> <br>
<%= session[:user_id] %>
<%= yield %>

</body>
</html>
